builds/*
.sentry-native/*
ADD_ENV_VARIABLE.cmd
Build and Run (Simulator).ps1
build_and_run.sh
Wigglly.pdx/*
Wigglly.zip
main.pdx/main.pdz
main.pdx/pdxinfo
main.pdx/images/2ND-OLDcloud.pdt
main.pdx/images/background.pdi
main.pdx/images/cloud.pdt
main.pdx/images/gameOver.pdi
main.pdx/images/getReady.pdi
main.pdx/images/hair.pdt
main.pdx/images/leftArm.pdi
main.pdx/images/leftLeg.pdi
main.pdx/images/old-cloud.pdt
main.pdx/images/old-gameOver.pdi
main.pdx/images/old-getReady.pdi
main.pdx/images/old-startButton.pdi
main.pdx/images/pantleg.pdt
main.pdx/images/plane1.pdi
main.pdx/images/plane2.pdi
main.pdx/images/player.pdt
main.pdx/images/playerBody.pdi
main.pdx/images/rightArm.pdi
main.pdx/images/rightLeg.pdi
main.pdx/images/sleeves.pdt
main.pdx/images/startButton.pdi
Wiggle.pdx/main.pdz
Wiggle.pdx/pdxinfo
Wiggle.pdx/images/2ND-OLDcloud.pdt
Wiggle.pdx/images/background.pdi
Wiggle.pdx/images/cloud.pdt
Wiggle.pdx/images/gameOver.pdi
Wiggle.pdx/images/getReady.pdi
Wiggle.pdx/images/hair.pdt
Wiggle.pdx/images/leftArm.pdi
Wiggle.pdx/images/leftLeg.pdi
Wiggle.pdx/images/old-cloud.pdt
Wiggle.pdx/images/old-gameOver.pdi
Wiggle.pdx/images/old-getReady.pdi
Wiggle.pdx/images/old-startButton.pdi
Wiggle.pdx/images/pantleg.pdt
Wiggle.pdx/images/plane1.pdi
Wiggle.pdx/images/plane2.pdi
Wiggle.pdx/images/player.pdt
Wiggle.pdx/images/playerBody.pdi
Wiggle.pdx/images/rightArm.pdi
Wiggle.pdx/images/rightLeg.pdi
Wiggle.pdx/images/sleeves.pdt
Wiggle.pdx/images/startButton.pdi
